<script type='text/x-handlebars-template' id='category-list-template'>
  <li>
  <a href="#" onclick="useCase.showCategory( {{this.id}} )">
    {{ this.name }}
  </a>
	</li>
</script>

<script type='text/x-handlebars-template' id='alert-template'>
  <div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ this }}
</div>
</script>

<script type='text/x-handlebars-template' id='products-list-template'>
  <div class="product">
    {{ this.name }} <br />
    <img style="margin-left:25px" src="http://img.szafa.pl/ubrania/0/007684116/1319057755/plaszcz-damski-jesienny-troll.jpg" width="150px" height="150px" />    
  </div>
</script>
