<script type='text/x-handlebars-template' id='category-list-template'>
  <li>
  <a href="#" onclick="useCase.showCategory( {{this.id}} )">
    {{ this.name }}
  </a>
	</li>
</script>

<script type='text/x-handlebars-template' id='alert-template'>
  <div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ this }}
</div>
</script>

<script type='text/x-handlebars-template' id='products-list-template'>
  <a href="#" onclick="useCase.showProduct({{this.id}})">
    <div class="product">
      {{ this.name }} <br />
      <img style="margin-left:25px" src="http://img.szafa.pl/ubrania/0/007684116/1319057755/plaszcz-damski-jesienny-troll.jpg" width="150px" height="150px" />    
    </div>
  </a>
</script>
<script type='text/x-handlebars-template' id='product-template'>
  <div class="span5">
  <h2>{{product.name}}</h2>
  <p><small>{{product.description}}</small></p>

  <p>Cena: {{product.price}} PLN.</p>
  {{{ options }}}
  <br />
  <br />
  <button id="button-add-to-cart" class="btn btn-primary" onclick="useCase.addProductToCart({{product.id}})">Dodaj do koszyka</button>
</div>
<div class="span4">
  GALERIA
</div>
</script>
<script type='text/x-handlebars-template' id='cart-list-template'>
  <div class="span3">{{this.name}} (rozmiar {{this.size}})</div>
  <div class="span6"><button id="button-delete-from-cart" class="btn btn-danger" onclick="useCase.deleteProductFromCart({{this.id}})"><i class="icon-remove icon-white" />Usuń z koszyka</button></div>
</script>
<script type='text/x-handlebars-template' id='cart-min-template'>
  Wartość koszyka: {{ this }} PLN. <button onClick="useCase.showCart()" class="btn"><i class="icon-shopping-cart" />Zobacz koszyk</button>
</script>
<script type='text/x-handlebars-template' id='confirmation-form-template'>
  <h2>Proszę podać dane</h2>
  <div class="controls controls-row">
    <input id="confirmation-name" class="span2" placeholder="Imię" type="text" required>
    <input id="confirmation-surname" class="span2" placeholder="Nazwisko" type="text" required>
  </div> 
  <div class="controls">
    <input id="confirmation-email" class="span4" placeholder="Email" type="email" required>
  </div>
  <div class="controls">
    <input id="confirmation-phone" class="span4" placeholder="Telefon" type="text" required>
  </div>
  <div class="controls controls-row">
    <input id="confirmation-street" class="span2" placeholder="Ulica" type="text">
    <input id="confirmation-house_nr" class="span2" placeholder="Nr domu" type="text">
  </div> 
  <div class="controls controls-row">
    <input id="confirmation-postal_code" class="span2" placeholder="Kod pocztowy" type="text" required>
    <input id="confirmation-city" class="span2" placeholder="Miasto" type="text" required>
  </div>
  <div class="controls controls-row">
    <div class="span2">Chcę otrzymywać newsletter:</div><input id="confirmation-newsletter" class="span2" type="checkbox">
  </div>
  <button class="btn btn-primary" onClick="useCase.confirmDataForm()" style="margin-top:15px">Potwierdź dane</button>
    <br/>
    <div class="span5" style="margin-left:-3px;margin-top:10px;">
  <i>Klikając na powyższy przycisk jednocześnie potwierdzasz, że zapoznałeś się oraz w pełni akceptujesz regulamin sklepu</i>
</div>
</script>
